Package: us.evendev.cydiaxidark
Name: CydiaXI Dark Mode
Depends: us.evendev.cydiaxi
Architecture: iphoneos-arm
Description: Temporary Dark Mode extension for CydiaXI.
Maintainer: EvenDev
Author: EvenDev
Section: CydiaXI
Version: 1.0-22+debug
Installed-Size: 73
