body {
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 18pt;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
}
a {
    font-size: 11pt;
}
hr {
    height: 0.5px;
    border: none;
    background-color: #CDCED3;
}
h1 hr {
    margin-top: 35px;
}
h2 {
    font-size: 13pt;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: #007AFF;
}